aiohttp==3.10.2
async-timeout==4.0.3
yarl==1.9.4
xmltodict==0.13.0
numpy
cachetools
backoff
# for debug
poetry
pre-commit
pylint
black
vulture
tox
tox-pip-version
colorlog
pytest
pytest-asyncio
pytest-cov
blacken-docs
reorder-python-imports
aioresponses
